<div class="col-sm-4">
	<%= form_for @order, :url => { :action => "update" } do |f| %>
	<% if(session[:text]) %>
	    <%= f.text_field :note ,:value => session[:text] %>
		<% else %>           
	    <%= f.text_field :note %>
        <% end %>

         <%= link_to "Cart", "#", :onclick=>"$('.update_cart').submit()" , :class => "btn  btn-info" %>
        <% end %>
</div>