<body>
	<div align ="center">
		<div class="row">
			<div class="col-sm-1">
				<div class="input-group-btn">
					<button class="btn btn-default dropdown-toggle show-all-button" data-toggle="dropdown" type="button">
					<span class="filter_box" data-category="">All</span>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
					<li data-category="So 1">1</li>
					<li data-category="so 2">2</li>
					<li data-category="so 3">3</li>
					</ul>
				</div>
				</div>
			<div class="col-sm-4">
					<input class="form-control" value="" placeholder="Input something to search..." type="text" name="z">
			</div>
			<div class="col-sm-1">
					<button class="btn btn-default" type="submit">Search</button>
			</div>
		</div>
	</div>
</body>