<body>
		<div class="group-search row">
			<div class="col-sm-1">
				<div class="input-group-btn">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">All<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
			<div class="col-sm-4">
					<input class="form-control" value="" placeholder="Input something to search..." type="text" name="z">
			</div>
			<div class="col-sm-1">
					<button class="btn btn-default" type="submit">
					<span class="glyphicon glyphicon-search"></span> Search</button>
			</div>
	</div>
 	<div class="shopping_cart_container">
  		<div class="shopping_cart">
  			<h2><span class="glyphicon glyphicon-shopping-cart"></span> My Shopping cart</h2>
  		<div class="shopping_cart_products">
    	<!-- build next -->
  		</div>
  		<h4>Số lượng:  
  		<br>Tổng tiền:  VNĐ</h4>
</div>
</div>
</body>