<body>
		<div class="group-search row">
				<%= form_tag products_path, :method => :get do %>
					<div class="col-sm-1">
						<%= collection_select(:category, nil,  Category.all, :name, :name,{ :selected => params[:category],:include_blank => 'All'}) %>
					</div>
					<div class="col-sm-4">
				    <%= text_field_tag :search, params[:search] %>
				    </div>
				    <div class="col-sm-1">
				    <%= submit_tag "Search", :name => nil %><br />
				<% end %>
				</div>
				</div>

 	<div class="shopping_cart_container">
  		<div class="shopping_cart">
  			<h2><span class="glyphicon glyphicon-shopping-cart"></span> My Shopping cart</h2>
  		<div class="shopping_cart_products">
    	<!-- build next -->
  		</div>
  		<h4>Số lượng:  
  		<br>Tổng tiền:  VNĐ</h4>
</div>
</div>
</body>